<h1>新建票种</h1>

<%= form_for [:admin, @event, @ticket] do |f| %>

  <%= render :partial => "form", :locals => { :f => f } %>

  <div class="form-group">
    <%= f.submit "创建", :class => "btn btn-primary" %>
    <%= link_to "取消", admin_event_tickets_path(@event) %>
  </div>
<% end %>