<div class="form-group">
  <%= f.label :票种 %>
  <%= f.select :ticket_id, @event.tickets.map{ |t| [t.name, t.id] }, {}, :class => "form-control" %>
</div>

<div class="form-group">
  <%= f.submit "下一步", :class => "btn btn-primary" %>
</div>